<!DOCTYPE html>
<html lang="en">
<base href="/marketeer_app/">
<head>
    <meta charset="UTF-8">
    <title>Uahoy Merchant</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="lib/vendor/materialize/css/materialize.css" media="screen,projection">
    <!--<link rel="stylesheet" href="/lib/vendor/materialize/css/materialize.css" media="screen,projection">-->
    <!--Import style.css-->
    <link rel="stylesheet" href="lib/src/css/style.css" media="all">
    <!--<link rel="stylesheet" href="/lib/src/css/style.css" media="all">-->
    <!--Import jQuery-->
    <script type="text/javascript" src="lib/vendor/jquery/jquery.js"></script>
    <!--Import materialize -->
    <script type="text/javascript" src="lib/vendor/materialize/js/materialize.js"></script>
    <!--Import Charts -->
    <script type="text/javascript" src="lib/vendor/chart/js/chart.js"></script>

    <meta name="apple-itunes-app" content="app-id=1234567890">
    <meta name="HandheldFriendly" content="true">

    <meta name="theme-color" content="#0288d1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Uahoy Merchant">
    <link rel="manifest" href="manifest.json">

    </head>
<body>
<div class="navbar-fixed">
    <nav id="headerNav" class="light-blue darken-2 nav-extended"></nav>
</div>
<main>
    <div class="row">
        <div class="col s12 m6">
            <div class="card " >
                <div class="card-image offer-card">
                    <img src="http://lorempixel.com/800/400/food">
                    <a class="activator btn-floating halfway-fab waves-effect waves-light blue-grey"><i class="material-icons">pageview</i></a>
                    <div class="card-title offer-title">

                        <span class="offer-description font-size-12 weight-3 text-wrap">Get 30% Off on total Bill</span>
                        <p class="orange-text text-darken-1 font-size-10 weight-3 left uppercase">Flat Off on All</p>
                        <p class="green-text text-darken-1 font-size-10 weight-3 right">Active</p>
                    </div>
                </div>
                <div class="card-reveal custom-card-reveal">
                    <span class="card-title font-size-16 weight-3 blue-grey-text text-lighten-1">Offer Information<i class="material-icons right font-size-16">close</i></span>

                    <span class="col s6 left-align grey-text font-size-12 weight-4">Deal id : <span>123456</span></span>
                    <span class="col s6 left-align grey-text font-size-12 weight-4">Coupon id	: <span>123456</span></span>
                    <div class="spacer-8"></div>
                    <span class="col s12 orange-text font-size-10 weight-4 text-accent-2 deal-detail-heading">Valid From</span>
                    <span class="col s6 left-align grey-text font-size-12 weight-4">Date : <span>12-12-2012</span></span>
                    <span class="col s6 left-align grey-text font-size-12 weight-4">Time : <span>08:00 AM</span></span>
                    <div class="spacer-8"></div>
                    <span class="col s12 orange-text font-size-10 weight-4 text-accent-2 deal-detail-heading">Valid To</span>
                    <span class="col s6 left-align grey-text font-size-12 weight-4">Date : <span>12-12-2012</span></span>
                    <span class="col s6 left-align grey-text font-size-12 weight-4">Time : <span>08:00 AM</span></span>


                    <a class="btn-flat btn font-size-12 right">edit</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card " >
                <div class="card-image offer-card">
                    <img src="http://lorempixel.com/800/400/nightlife">
                    <a class="activator btn-floating halfway-fab waves-effect waves-light blue-grey"><i class="material-icons">pageview</i></a>
                    <div class="card-title offer-title">

                        <span class="offer-description font-size-12 weight-3 text-wrap">Buy 1 Get 1 Free</span>
                        <p class="orange-text text-darken-1 font-size-10 weight-3 left uppercase">Buy & Get</p>
                        <p class="green-text text-darken-1 font-size-10 weight-3 right">Active</p>
                    </div>
                </div>
                <div class="card-reveal custom-card-reveal">
                    <span class="card-title font-size-16 weight-3 blue-grey-text text-lighten-1">Offer Information<i class="material-icons right font-size-16">close</i></span>

                    <span class="col s6 left-align grey-text font-size-12 weight-4">Deal id : <span>123456</span></span>
                    <span class="col s6 left-align grey-text font-size-12 weight-4">Coupon id	: <span>123456</span></span>
                    <div class="spacer-8"></div>
                    <span class="col s12 orange-text font-size-10 weight-4 text-accent-2 deal-detail-heading">Valid From</span>
                    <span class="col s6 left-align grey-text font-size-12 weight-4">Date : <span>12-12-2012</span></span>
                    <span class="col s6 left-align grey-text font-size-12 weight-4">Time : <span>08:00 AM</span></span>
                    <div class="spacer-8"></div>
                    <span class="col s12 orange-text font-size-10 weight-4 text-accent-2 deal-detail-heading">Valid To</span>
                    <span class="col s6 left-align grey-text font-size-12 weight-4">Date : <span>12-12-2012</span></span>
                    <span class="col s6 left-align grey-text font-size-12 weight-4">Time : <span>08:00 AM</span></span>


                    <a class="btn-flat btn font-size-12 right">edit</a>
                </div>
            </div>
        </div>


    </div>
</main>

<footer class="page-footer grey darken-1" id="footer"></footer>


<div id="modal1" class="modal modal-fixed-footer campaign-info-modal ">
    <div class="modal-content deal-detail-modal-content">
        <div class="row">
            <div class="col s12 white z-depth-2">

                <div class="card-panel green">
                    <span class="font-size-16 white-text deal_title">Get 30% Off on total Food Bill Get 30% Off on total Food Bill</span>
                    <span class="deal_title text-wrap white-text text-darken-1 font-size-14 weight-6 left uppercase">Flat Off on All</span>
                    <span class="white-text text-darken-1 font-size-12 weight-4 left uppercase">Coupon Code : <span>AHDP</span></span>
                </div>

                <div class="deal-information">
                    <span class="row">
                        <span class="col s12 orange-text font-size-14 weight-4 text-accent-2 deal-detail-heading">Deal Details</span>
                        <span class="col s6 center-align blue-grey-text font-size-12 weight-4">Deal id : <span>123456</span></span>
                        <span class="col s6 center-align blue-grey-text font-size-12 weight-4">Coupon id	: <span>123456</span></span>
                    </span>
                    <span class="row">
                        <span class="col s12 orange-text font-size-14 weight-4 text-accent-2 deal-detail-heading">Valid From</span>
                        <span class="col s6 center-align blue-grey-text font-size-12 weight-4">Date : <span>12-12-2012</span></span>
                        <span class="col s6 center-align blue-grey-text font-size-12 weight-4">Time : <span>08:00 AM</span></span>
                    </span>
                    <span class="row">
                        <span class="col s12 orange-text font-size-14 weight-4 text-accent-2 deal-detail-heading">Valid To</span>
                        <span class="col s6 center-align blue-grey-text font-size-12 weight-4">Date : <span>12-12-2012</span></span>
                        <span class="col s6 center-align blue-grey-text font-size-12 weight-4">Time : <span>08:00 AM</span></span>
                    </span>
                    <span class="row">
                        <span class="col s12 orange-text font-size-14 weight-4 text-accent-2 deal-detail-heading">Deal Status</span>
                        <span class="col s6 center-align blue-grey-text font-size-12 weight-4">Status : <span>Active</span></span>
                    </span>
                    <div class="row">
                        <span class="col s12 orange-text font-size-14 weight-4 text-accent-2 deal-detail-heading">Update Status</span>
                        <span class="col s12">
                            <span class="action-button font-size-10"><button class="waves-effect waves-light btn green">Active</button></span>
                            <span class="action-button font-size-10"><button class="waves-effect waves-light btn red">Disable</button></span>
                            <span class="action-button font-size-10"><button class="waves-effect waves-light btn blue">Pause</button></span>
                            <span class="action-button font-size-10"><button class="waves-effect waves-light btn orange">Resume</button></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-action waves-effect waves-green btn-flat" onclick="editDeal()">Edit</button>
        <button class="modal-action modal-close waves-effect waves-green btn-flat ">Close</button>
    </div>
</div>

<div id="editModal" class="modal modal-fixed-footer campaign-info-modal ">
    <div class="modal-content deal-detail-modal-content">
        <!--<div class="row">
            <div class="col s12">
                <div class="card-panel create-campaign-card">
                    <div class="input-field col s12">
                        <select>
                            <option value="" disabled selected>Select Deal Type</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Deal type</label>
                    </div>

                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Deal Description</label>
                    </div>

                    <div class="input-field col s12">
                        <select multiple>
                            <option value="" disabled selected>Select your branches</option>
                            <option value="0">Select All Branch</option>
                            <option value="1">Branch 1</option>
                            <option value="2">Branch 2</option>
                            <option value="3">Branch 3</option>
                        </select>
                        <label>Branches</label>
                    </div>

                    <div class="input-field col s6">
                        <label for="startDate">Start Date</label>
                        <input id="startDate" type="text" class="datepicker picker__input">
                    </div>

                    <div class="input-field col s6">
                        <label for="endDate">End Date</label>
                        <input id="endDate" type="text" class="datepicker picker__input">
                    </div>

                    <div class="input-field col s12">
                        <input id="input_text" type="text">
                        <label for="input_text">Coupon Prefix</label>
                    </div>
                    <div class="input-field col s6 left-align">
                        <button class="btn waves-effect waves-light teal darken-3" type="button" name="selectImage"
                                onclick="getTemplateImage()">Image Upload
                        </button>
                    </div>
                    <div class="input-field col s6 right-align">
                        <button class="btn waves-effect waves-light orange darken-3" type="button" name="action"
                                onclick="saveDeal()">Continue
                        </button>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <div class="modal-footer">
        <button class="modal-action waves-effect waves-green btn-flat">Edit</button>
        <button class="modal-action modal-close waves-effect waves-green btn-flat ">Close</button>
    </div>
</div>

<!--<div class="row">
            <div class="col s12">
                <div class="card-panel create-campaign-card">
                    <div class="input-field col s12">
                        <select>
                            <option value="" disabled selected>Select Deal Type</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Deal type</label>
                    </div>

                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Deal Description</label>
                    </div>

                    <div class="input-field col s12">
                        <select multiple>
                            <option value="" disabled selected>Select your branches</option>
                            <option value="0">Select All Branch</option>
                            <option value="1">Branch 1</option>
                            <option value="2">Branch 2</option>
                            <option value="3">Branch 3</option>
                        </select>
                        <label>Branches</label>
                    </div>

                    <div class="input-field col s6">
                        <label for="startDate">Start Date</label>
                        <input id="startDate" type="text" class="datepicker picker__input">
                    </div>

                    <div class="input-field col s6">
                        <label for="endDate">End Date</label>
                        <input id="endDate" type="text" class="datepicker picker__input">
                    </div>

                    <div class="input-field col s12">
                        <input id="input_text" type="text">
                        <label for="input_text">Coupon Prefix</label>
                    </div>
                    <div class="input-field col s6 left-align">
                        <button class="btn waves-effect waves-light teal darken-3" type="button" name="selectImage"
                                onclick="getTemplateImage()">Image Upload
                        </button>
                    </div>
                    <div class="input-field col s6 right-align">
                        <button class="btn waves-effect waves-light orange darken-3" type="button" name="action"
                                onclick="saveDeal()">Continue
                        </button>
                    </div>
                </div>
            </div>
        </div>-->

<div id="textCoupon" class="modal">
    <div class="modal-content deal-detail-modal-content">
        <h5>Text Coupon</h5>
        <p>Coupon is not valid</p>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-green btn-flat ">Check Next</button>
    </div>
</div>

<div id="qrCodeCoupon" class="modal coupon-info-modal transparent">
    <div class="modal-content deal-detail-modal-content">
        <div class="camera-selection">
            <select id="camera-select"></select>
        </div>

        <div class="well" style="position: relative;display: inline-block;">
            <!--<span class="font-size-16">Scan QR Code</span>-->
            <canvas id="webcodecam-canvas" style="width: 100%; height: 100%"></canvas>
            <div class="scanner-laser laser-rightBottom" style="opacity: 0.5;"></div>
            <div class="scanner-laser laser-rightTop" style="opacity: 0.5;"></div>
            <div class="scanner-laser laser-leftBottom" style="opacity: 0.5;"></div>
            <div class="scanner-laser laser-leftTop" style="opacity: 0.5;"></div>
        </div>



        <div class="thumbnail" id="result">
            <p class="white-text" id="scanned-QR"></p>
        </div>



    </div>
    <div class="modal-footer">
        <!--<button class="modal-action waves-effect waves-green btn-flat ">Check Coupon</button>-->
        <button id="stop" class="btn-floating modal-action modal-close waves-effect waves-green btn-flat white-text"><i class="material-icons">close</i></button>
    </div>
</div>

<script>
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
        $('.campaign-info-modal').modal({
            startingTop: '0%',
            endingTop: '0%'
        });

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
        $('select').material_select();
    });


</script>

<!--Import tiles -->
<script type="text/javascript" src="lib/src/js/tile.js"></script>
<script type="text/javascript" src="lib/src/js/custom.js"></script>

</body>
</html>