<div class="footer-copyright">
    <div class="container">
        © <span id="year"></span> Ahoy Telecom Pvt. Ltd.
    </div>
</div>
<script>
    var w = window,
        d = document,
        e = d.documentElement,
        g = d.getElementsByTagName('body')[0],
//        x = w.innerWidth || e.clientWidth || g.clientWidth,
        y = w.innerHeight || e.clientHeight || g.clientHeight;

    var height = y - document.getElementById('footer').offsetHeight;
    /* if(document.getElementById('login_view') != undefined){
     document.getElementById('login_view').style.height= height+"px";
     }
     */
    //    document.getElementById('login_view').style.height= height+"px";
    var date = new Date();
    var year = date.getFullYear();

    document.getElementById("year").innerText = year;
</script>